.add-btn {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px gray solid;
  margin-left: 15px;
  height: 350px;
  align-self: center;
}
.add-form {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px gray solid;
  margin: 0 auto;
  height: 350px;
  align-self: center;
}
.add-form input {
  width: 100%;
  height: 30px;
  border: 1px gray solid;
  margin: 20px 0;
}
